<div class="scrollable ng-scope" style="padding-top: 70px;">
  <h1 class="scrollable-header app-name">Lodgefy <small>0.1 Beta</small></h1>  
  <div class="scrollable-content">
    <div class="list-group" ui-turn-off="uiSidebarLeft">
      <a class="list-group-item" href="#!/">Home <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#!/houses">Houses <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#!/configurations">Configurations <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#!/logout">Logout <i class="fa fa-chevron-right pull-right"></i></a>
      
    </div>
  </div>
</div>

